<h1>Tests et browser headless</h1>
<p class="jt-text">
    Le but de ce projet est de montrer comment se passer de PhantomsJS lorsque vous voulez construire votre projet
    sur des serveurs ne contenant aucun serveur X.
</p>
<p>
   Si vous utilsiez vos propres serveurs d'intégration continues, les documentations nous poussent souvent à utiliser le browser
    headless PhantomJS qui a la particularité de nous fournir un moteur Javascript sans interface graphique. C'est très bien
    pour les tests unitaires mais le problème c'est que ce n'est pas un vrai navigateur. Comment utiliser le moteur Javascript de
    Chrome ou de Firefox ?
</p>
<p>
    J'essaye ici d'illustrer la résolution de ce problème via Xvfb
</p>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col-tablet mdl-cell--4-col-desktop mdl-cell--hide-phone">
        &nbsp;
    </div>
</div>
<p align="center">
    <img src="img/logo.png" class="jt_logo">
</p>


